##  Input function -

In [2]:
amount = input("Enter amount in words:")

Enter amount in words: ten thousand

In [3]:
amount = input("Enter amount in digits:")

Enter amount in digits: 10,000

In [4]:
print(type(amount))  #the type of data from input fun. is always string

<class 'str'>

In [7]:
amount1 = input("Enter amount in digit")

Enter amount in digit 10,000

In [5]:
amount2 =input("Enter amount in word")

Enter amount in word 10,000

In [8]:
print(amount1 + amount2)

10,00010,000

In [7]:
amount1 = int(input("Enter amount in digit"))

Enter amount in digit 50

In [11]:
amount2 =int(input("Enter amount in word"))

Enter amount in word 50

In [12]:
print(amount1 + amount2)

100

## Basic Calculator

In [13]:
num1 = float(input("Enter first no."))

Enter first no. 34

In [15]:
num2 = float(input("Enter second no."))

Enter second no. 20

In [16]:
result = num1 + num2
print(result)

54.0

In [17]:
results = num1 - num2
print(results)

14.0

In [18]:
multiply = num1* num2
print(multiply)

680.0

In [19]:
val = num1//num2
print(val)

1.0

In [20]:
value = num1/num2
print(value)

1.7

In [21]:
x = 2
y =5
result = x*y
print(result)

10

In [22]:
num1 = float(input("Enter first no.:"))   
num2 = float(input("Enter second no.:"))

Enter first no.: 25
Enter second no.: 20

In [23]:
num1+num2

45.0

In [24]:
num1 = float(input("Enter first no.:"))   
num2 = float(input("Enter second no.:"))
if num1*num2>num1:
    print("GOod amount")
elif num1*num2< 15:
    print("nice")
else:
    print("out of no.")

Enter first no.: 20
Enter second no.: 4

GOod amount

In [25]:
num1 = float(input("Enter first no.:"))   
num2 = float(input("Enter second no.:"))
if num1*num2>num1:
    print("GOod amount")
elif num1*num2< 15:
    print("nice")
    
else:
    print("out of no.")

Enter first no.: 12
Enter second no.: 1

nice

In [26]:
num1 = float(input("Enter first no.:"))   
num2 = float(input("Enter second no.:"))
if num1*num2>num1:
    print("GOod amount")
elif num1*num2< 15:
    print("nice")
else:
    
    print("out of order")

Enter first no.: 24
Enter second no.: 1

out of order

### Conditional Statements { if - else- elif }

In [1]:
num1 = float(input("Enter first no.:"))
num2 = float(input("Enter second no.:"))
operator = input("Enter operator(user choice =+,-,/,*)") 
if operator =="+":
    result =num1 + num2
elif operator == "-":
    result = num1-num2
elif operator == "/":
    result = num1/num2
elif operator == "*":
    result = num1*num2
print(result)

Enter first no.: 20
Enter second no.: 30
Enter operator(user choice =+,-,/,*) +

50.0

In [2]:
num1 = int(input("Enter first no.:"))   
num2 = int(input("Enter second no.:"))
opt = input("user demand")
if opt=="+":
    result=num1 +num2
elif opt =="-":
    result = num1 -num2
elif opt == "*":
    result = num1*num2 
elif opt=="/":
    result = num1 /num2

print(result)

Enter first no.: 2
Enter second no.: 6
user demand +

8

In [11]:
num1 = int(input("Enter first no.:"))
num2 = int(input("Enter second no.:"))
operator = input("Enter operator(user choice =+,-,/,*)") 
if operator =="+":
    result =num1 + num2
elif operator == "-":
    result = num1-num2
elif operator == "/":
    result = num1/num2
elif operator == "*":
    result = num1*num2
print(result)

Enter first no.: 2
Enter second no.: 5
Enter operator(user choice =+,-,/,*) +

7

In [3]:
#1 
demand =input("the tea you want: lemon tea/ Milk tea / masala tea : ")
choice = input("Enter the tea ingrediants :")
if choice=="lemon,water,tealeave":
    print(" your tea is ready : lemon tea")
elif choice==("water,tealeave,milk"):
    print(" your tea is ready : Milk tea")
elif choice==("milk,water,tealeave,ginger,teamasala"):
    print(" your tea is ready : masala tea")
else:
    print("tea is not available")

the tea you want: lemon tea/ Milk tea / masala tea :  lemon tea
Enter the tea ingrediants : lemon,water,tealeave

 your tea is ready : lemon tea

In [1]:
#1 
print("the tea you want: lemon tea/ Milk tea / masala tea")
choice = input("Enter the tea ingrediants :")
if choice=="lemon,water,tealeave":
    print(" tea you want: lemon tea")
elif choice==("water,tealeave,milk"):
    print(" tea you want: Milk tea")
elif choice==("milk,water,tealeave,ginger,teamasala"):
    print(" tea you want:masala tea")

the tea you want: lemon tea/ Milk tea / masala tea

Enter the tea ingrediants : lemon,water,tealeave

 tea you want: lemon tea

In [3]:
#2
demand= input("Enter the tea you want(lemon/black/masala):")
if demand== "lemon":
    print("ing = lemon,water ,tea leave")
elif demand == "black":
    print("ing = water,tea leave")
elif demand== "masala":
    print("ing = water,tea leave, milk, ginger,cardmom")

Enter the tea you want(lemon/black/masala): lemon

ing = lemon,water ,tea leave

In [6]:
#2
demand= input("Enter the tea you want(lemon tea/black tea/masala tea):")
if demand== "lemon tea":
    print("ing = lemon,water ,tea leave ", \n "lemon tea").split("\n")
elif demand == "black tea":2
    print("ing = water,tea leave ",\n "milk tea").split("\n")
elif demand== "masala tea":
    print("ing = water,tea leave, milk, ginger,cardmom ",\n "masala tea").split("\n")

SyntaxError: unexpected character after line continuation character (2789320122.py, line 4)

In [3]:
#3
print("1. lemon tea ")
print("2. milk tea ")
print("3. Masala tea")
choice = input("enter the tea you want:")
if choice== "1":
    print("ingredients : lemon,water,tea leave")
elif choice== "2":
    print("ingredients : milk,water,tea leave,ginger")
elif choice == "3":
    print("ingredients : milk,water,tea leave,tea masala")

1. lemon tea
2. milk tea
3. Masala tea

enter the tea you want: 2

ingredients : milk, water,tea leave,ginger

In [15]:
num1 = list(input("Enter the first no."))
num2 =list(input("Enter the second no."))

Enter the first no. 10
Enter the second no. 5

In [16]:
print(type(num1))
print(type(num2))

<class 'list'>
<class 'list'>

In [17]:
num1 = set(input("Enter the no."))
num2 =set(input("Enter the no."))

Enter the no. 20
Enter the no. 100

In [18]:
print(type(num1))

<class 'set'>

In [19]:
num2 = dict(input("Enter the no."))
num3 =dict(input("Enter the no."))

Enter the no. 20
Enter the no. 1

In [20]:
print(type(num2))
print(type(num3))

<class 'set'>
<class 'set'>

In [23]:
num2 = tuple(input("Enter the no."))
num3 =tuple(input("Enter the no."))
print(type(num2))
print(type(num3))

Enter the no. 2
Enter the no. 90

<class 'tuple'>
<class 'tuple'>

In [ ]:
a = int(input("Enter your age:"))
if (a<18):
    print("you are underage")
elif(a == 18):
    print("good for you")
else:
    print("fine")

In [ ]:
a = int(input("Enter your age:"))
if (a<18):
    print("you are underage")
elif(a == 18):
    print("good for you")
else:
    print("fine")

In [ ]:
temperature = 20
if temperature > 30 :
    print("it's really hot today!") 
else:
    print("it's a normal day")

In [ ]:
temperature = 25 
if temperature<30 :
    print("it's really hot today!")
elif temperature==20:
    print(" It's a normal day")
elif temperature < 10 :
    print("It's a cold day")

In [ ]:
# srtring length check 
name = "Saurabh"
if len(name)>7:
    print("It's a long name")
else:
    print("It's a sweet name")

In [ ]:
password = "mydoandajf"
if len(password)>= 8:
    print("password length is okay")

In [ ]:
# Even or odd
number = 256
if number%2 == 0 :
    print("the number is even ")
else:
    print("the number is odd")

In [ ]:
# largest of 2 numbers
num1 = int(input("first no."))
num2 = int(input("second no."))
if num1 > num2:
    print("num1 is greater then num2")
elif num1< num2:
    print("num2 is greater then num1")
else:
    print("same value")

In [ ]:
# Smallest of given numbers-
num1 = int(input("first no."))
num2 = int(input("second no."))
num3 = int(input("third no."))
if num1 < num2 and num1< num3:
    print("smallest is num1")
if num2 < num1 and num2< num3:
    print("smallest is num2")
if num3 < num2 and num3< num1:
    print("smallest is num3")

In [ ]:
# positive,negative,or zero -
num1 = 10
if num1>0:
    print("postive")
elif num1< 0:
    print("negative")
else:
    print("no value")

In [ ]:
num1 = 0
if num1>0:
    print("postive")
elif num1< 0:
    print("negative")
else:
    print("no value")

In [ ]:
# voting eligibility
age = int(input("enter the age"))
if age>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")

In [ ]:
# leap year checking -
year = 2025
if year%4==0:
    print("a leap year")
else:
    print(" not a leap year")

In [ ]:
year = 2020
if year%4==0:
    print("a leap year")
else:
    print(" not a leap year")

In [ ]:
# grade calculator 
marks = int(input("student's marks"))
if marks>= 90:
    print("A")
elif marks>=75:
    print("B")
elif marks>= 89:
    print("B")
elif marks >= 50:
    print("C")
elif marks<50:
    print("Fail")

In [ ]:
marks =int(input("Student's marks"))
if marks>= 90:
    print("A")
elif marks>= 75 and marks<=89:
    print("B")
elif marks >50:
    print("C")
else:
    print("Fail")

In [1]:
# divisibility check -
number2= 35
if number2%5==0:
    if number2%7==0:
        print("it is divisible by both 5 and 7")

it is divisible by both 5 and 7

In [3]:
number = int(input("Enter thenumber"))
if number%3==0 and number%8 ==0:
    print("it is divisible by both 3,8")
else:
    print("it is not divisible by both 3,and 8")

Enter thenumber 21

it is not divisible by both 3,and 8

In [ ]:
number = int(input("Enter thenumber"))
if number%3==0 and number%8 ==0:
    print("it is divisible by both 3,8")
else:
    print("it is not divisible by both 3,and 8")

In [ ]:
# password checker 
password = "python123"
if password == "python123":
    print("Access granted")
else:
    print("Access denied")

In [ ]:
# Odd or even sum
num1 = int(input("first no."))
num2 = int(input("second no."))
result = num1 + num2 
if result%2 ==0:
    print("even sum")
else:
    print("odd sum")

In [ ]:
day = input("enter the day of week")
if day == "monday" and day == "tuesday":
     print("start of the week")
elif day == "thursday" and day == "friday":
    print("almost weekend")
elif day == "Saturday":
    print("Weekend")
else:
    print("Its holiday")

In [ ]:
number = int(input(" day of week "))
if number == 1:
    print("monday")
elif number ==2:
    print("tuesday")
elif number ==3:
    print("wednesday")
elif number == 4:
    print("thursday")
elif number == 5:
    print("friday")
else:
    print("weekend")

In [ ]:
number = int(input(" day of week "))
if number == 1:
    print("monday")
elif number ==2:
    print("tuesday")
elif number ==3:
    print("wednesday")
elif number == 4:
    print("thursday")
elif number == 5:
    print("friday")
else:
    print("weekend")

In [ ]:
age = int(input("age"))
if age <12 :
    print("price = 100")
elif age ==12 and age >17:
    print("price =150")
elif age <= 59:
    print("price= 200")
elif age >=60:
    print("price= 120")

In [ ]:
#
num = input()

num1 = input("enter the no. :")

In [ ]:
your_name = input("Fill up your name:")