## Dictionary -

Defination : A dictionary is a mutable datatype that maps unique , immutable keys to value.

In [27]:
d1 = {"course" : "data science", "timing": "10am", "name": "Sona" }
print(type(d1))

<class 'dict'>

In [1]:
d2 = {"course": "Data analytics", "No.of students": 100 , "course": " Data scientist"}
print(d2)

{'course': ' Data scientist', 'No.of students': 100}

In [29]:
d2 = {"course1": "data analytics","course2": "data analytics"}
print(d2)

{'course1': 'data analytics', 'course2': 'data analytics'}

In [30]:
std = { 1 :"prakash" , 2 : "Aqsa", 3 : "priyanshu"}
print(std)

{1: 'prakash', 2: 'Aqsa', 3: 'priyanshu'}

In [31]:
Innovators= { [1,2 ]: "steve jobs" , [ 3,4]: "elon musk"}
print(Innovators)

TypeError: unhashable type: 'list'

In [1]:
Innovators1 = { (1,2 ): "steve jobs" , ( 3,4): "elon musk"}
print(Innovators1)

{(1, 2): 'steve jobs', (3, 4): 'elon musk'}

In [2]:
Innovators2= { {1,2 }: "steve jobs" , [ 3,4]: "elon musk"}
print(Innovators2)

TypeError: unhashable type: 'set'

In [3]:
d3 = { 1 : "class", { "name": "sona"} :"Python","course" :"data analytics", 2:"python"}
print(d3)

TypeError: unhashable type: 'dict'

In [4]:
d3 = { 1 : "class",  "name":{ "sona":"Python", "you": "my"},"course" :"data analytics", 2:"python"}
print(d3)

{1: 'class', 'name': {'sona': 'Python', 'you': 'my'}, 'course': 'data analytics', 2: 'python'}

In [5]:
print(d3["name"]["you"])

my

In [6]:
print(d3["name"]["sona"])

Python

In [7]:
d4 = { "subject":"art", "python": "Easy", 200 : "marks"}
print(d4)

{'subject': 'art', 'python': 'Easy', 200: 'marks'}

In [8]:
d5 = { 1 : ( 2, 3), 5: "sona"}
print(d5)

{1: (2, 3), 5: 'sona'}

In [9]:
d6 = { 1 : [ 2, 3], 5: [ "sona", "you"] , "name": "aqsa"}
print(d6)

{1: [2, 3], 5: ['sona', 'you'], 'name': 'aqsa'}

In [10]:
print(d6[1])

[2, 3]

In [11]:
print(d6[5])

['sona', 'you']

In [12]:
print(d6["name"])

aqsa

In [35]:
d6 = { 1 : [ 2, 3], "no" :100 ,5: [ "sona", "you"] , "name": "Mamta"}
print(id(d6))
d6["no"] = 200
print(d6["no"])
print(d6)
print(id(d6))

1635522744640
200
{1: [2, 3], 'no': 200, 5: ['sona', 'you'], 'name': 'Mamta'}
1635522744640

## len()

## Access: [] VS get()

In [1]:
d6 = { 1 : [ 2, 3], "no" :100 ,5: [ "sona", "you"] , "name": "Mamta"}
print(d6["no"])

100

In [14]:
d1 = {"subject": "science", "name": "harry", "age": 20}
print("name :", d1.get("name"))
print("subject:",d1.get("subject"))
print("age with get :", d1.get("age"))
print("salery with get:" d1.get("salery"))
print(d[0])    # indexing does not work

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3588416533.py, line 5)

In [4]:
d1 = {"subject": "science", "name": "harry", "age": 20}
print("name :", d1.get("name"))
print("subject:",d1.get("subject"))
print("age with get :", d1.get("age"))

name : harry
subject: science
age with get : 20

In [15]:
d2 = {"subject": "science", "name": "harry", "batch":{ "class": "first"}, "age": 20}
print("batch:" , d2.get("batch"))

batch: {'class': 'first'}

## insert / Update -

In [16]:
d = {}
d[1] = "saurbh"
d[2] = "Anjali"
d[3] = "you"
print(d)

{1: 'saurbh', 2: 'Anjali', 3: 'you'}

In [17]:
d.update({2: "sona" , 3 : "Aqsa"})
print("After update:" ,d)

After update: {1: 'saurbh', 2: 'sona', 3: 'Aqsa'}

In [18]:
d1= {}
d1["sona" ] = "mansi"
d1 ["name"] = "harry"
d1["friends"] = 100
d1["age"] = 20
print("after assignment:",d1)

after assignment: {'sona': 'mansi', 'name': 'harry', 'friends': 100, 'age': 20}

In [19]:
d1.update({"age" : 21 })
print(d1)

{'sona': 'mansi', 'name': 'harry', 'friends': 100, 'age': 21}

In [20]:
list1 = list(d1)
print(list1)

['sona', 'name', 'friends', 'age']

In [21]:
tuple1 = tuple(d1)
print(tuple1)

('sona', 'name', 'friends', 'age')

## pop() -

In [22]:
d = {"a": 12, "b" : 34 , "c":20}
item = d.pop("a")
print(item)
print("popped a:", item , " | d now:", d)

12
popped a: 12  | d now: {'b': 34, 'c': 20}

In [5]:
d = {"a": 12, "b" : 34 , "c":20}
d.pop("a")
print(d)

{'b': 34, 'c': 20}

### Popitem() -

In [23]:
d1 = {"a": 12, "b" : 34 , "c":20}
items  = d1.popitem()
print("popped item:" , items,"| d1 now:", d1)
print("data type of item:" , type(items))

popped item: ('c', 20) | d1 now: {'a': 12, 'b': 34}
data type of item: <class 'tuple'>

In [24]:
items  = d1.popitem()
print(items)

('b', 34)

In [25]:
d2 = { "a": 12, "b" : 34 , "c":20}
variable = d2.popitem()
print("popped item:" , variable, "| d2 now:" , d2)

popped item: ('c', 20) | d2 now: {'a': 12, 'b': 34}

### Keys() , values(), items() -

In [26]:
d = { " name" : " sona" , "subject" : "CS", "course ": "python"}
print(" keys:" , d.keys())

 keys: dict_keys([' name', 'subject', 'course '])

In [27]:
keys_d = d.keys()
print(keys_d)
print(type(keys_d))

dict_keys([' name', 'subject', 'course '])
<class 'dict_keys'>

In [36]:
# type casting dict_keys to list

keys_d_list = list(keys_d)
print(keys_d_list)
print(type(keys_d_list))

[' name', 'subject', 'course ']
<class 'list'>

In [29]:
keys1 = set(keys_d)
print(keys1)
print(type(keys1))

{' name', 'course ', 'subject'}
<class 'set'>

In [30]:
d = { " name" : " sona" , "subject" : "CS", "course ": "python"}
print(d.values())
val = d.values()     # storing the values in a variable "val" .
print(val)
print(type (val))

dict_values([' sona', 'CS', 'python'])
dict_values([' sona', 'CS', 'python'])
<class 'dict_values'>

In [31]:
list1 = list(val)
print(list1)
print(type(list1))

[' sona', 'CS', 'python']
<class 'list'>

In [32]:
tuple1 = tuple(val)
print(tuple1)
print(type(tuple1))

(' sona', 'CS', 'python')
<class 'tuple'>

In [33]:
d = { " name" : " sona" , "subject" : "CS", "course ": "python"}
print(d.items())
item_d = d.items()
print(item_d)
print(type(item_d))

dict_items([(' name', ' sona'), ('subject', 'CS'), ('course ', 'python')])
dict_items([(' name', ' sona'), ('subject', 'CS'), ('course ', 'python')])
<class 'dict_items'>

In [7]:
# type casting dict_items to list -
d = { " name" : " sona" , "subject" : "CS", "course ": "python"}
item_d1 = list(d)
print(item_d1)
print(type(item_d1))

[' name', 'subject', 'course ']
<class 'list'>

In [2]:
d = { "sona": 90, "aqsa": 95 ," sonal": 30, "saurabh": 100,"Neha": 49,"Roshni": 59}
val= d.keys()
print(val)

dict_keys(['sona', 'aqsa', ' sonal', 'saurabh', 'Neha', 'Roshni'])

In [8]:
fruits= {"apple": 50, "banana":20, "mango":100}
price = fruits.values()
print(price)
print(fruits)

dict_values([50, 20, 100])
{'apple': 50, 'banana': 20, 'mango': 100}

In [9]:
fruits["orange"] = 70
print(fruits)

{'apple': 50, 'banana': 20, 'mango': 100, 'orange': 70}

In [10]:
d1 = fruits.get("banana")
print(fruits)

{'apple': 50, 'banana': 20, 'mango': 100, 'orange': 70}

In [11]:
print( "apple" in fruits)

True

In [12]:
"apple" in fruits

True

In [28]:
d = {}
d[1] = 20
d[2] = 30
d[3] = 25
print(d)

{1: 20, 2: 30, 3: 25}

In [49]:
d1 = {"Japan": "tokyo", "china": "Bizing" , "SouthKorea" : "seoul"}
capitals = d1.values()
print(capitals)

dict_values(['tokyo', 'Bizing', 'seoul'])

In [60]:
d1.update({"china":"Beijing"})
print("after update:" ,d1)

after update: {'Japan': 'tokyo', 'SouthKorea': 'seoul', 'china': 'Beijing'}

In [51]:
val = d1.keys()
print(val)
item = d1.values()
print(item)

dict_keys(['Japan', 'china', 'SouthKorea'])
dict_values(['tokyo', 'Beijing', 'seoul'])

In [46]:
print(len(d1))

3

In [61]:
d2 = d1.pop("china")
print("china:",d2)

china: Beijing