## Basic for loop in Python -

 a for loop is used to repeat a block of code a specific number of time,or for each item in sequence (like a list,string,etc.).

In [2]:
#Syntax 

#for variable in sequence:
    #code block(indented)

In [5]:
# example 1
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end=" ")

apple banana cherry

In [6]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [8]:
numbers =[ 23,43,90,20]
for num in numbers:
    print(num)

23
43
90
20

In [1]:
numbers =[ 23,43,90,20]
for i in numbers:
    print(i)

23
43
90
20

In [3]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end=" $$ ")

apple $$ banana $$ cherry $$

In [4]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end="\n")

apple
banana
cherry

In [7]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end=",")

apple,banana,cherry,

In [8]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end="\t")

apple	banana	cherry

In [10]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end="=sweet\n")

apple=sweet
banana=sweet
cherry=sweet

In [13]:
fruits = ("apple,banana,cherry").split(",")
for fruit in fruits:
    print(fruit,end="\n")

apple
banana
cherry

using range() with for loop 
range (start,stop, step) is often used with for to repeat something multiple times

In [3]:
for i in range (134,25,2):
    print(i)

In [5]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
i =2
for i in range(7):
    print(i)

0
1
2
3
4
5
6

 ## Nested for loop-

A nested loop is when one for loop is inside another.

In [ ]:
for i in outer_loop:
    for j in inner_loop:

In [10]:
# RANGE IS ITERABLE

In [9]:
for i in range(3):   #outer loop runs 3 times
    for j in range(2):  # inner loop runs 2 times for each outer
        print(f"i={i},j ={j}")

i=0,j =0
i=0,j =1
i=1,j =0
i=1,j =1
i=2,j =0
i=2,j =1

In [3]:
list1 = "name$name2$name3"
name,name2,name3 = list1.split("$")
print(name,name2,name3)

name name2 name3

In [16]:
for j in range(5):
    for k in range(2):  # inner loop runs 2 times for each outer
        print(f"j={j},k ={k}")

j=0,k =0
j=0,k =1
j=1,k =0
j=1,k =1
j=2,k =0
j=2,k =1
j=3,k =0
j=3,k =1
j=4,k =0
j=4,k =1

### Building loop skills

In [6]:
# right angled triangle
rows = 5

for i in range(1, rows + 2):
    print("me" * i)

me
meme
mememe
memememe
mememememe
memememememe

In [7]:
rows = 5

for i in range(2, rows + 3,2):
    print( i)

2
4
6

In [10]:
rows = 5

for i in range(1, 6):
    print("me" * i)

me
meme
mememe
memememe
mememememe

#the range is from 1 - 6 , therefore i has values 
* for i = 1 the output will be "me"*1
* for i = 2 the output will be "me"*2= "meme"
* for i = 2 the output will be "me"*3= "mememe"

In [40]:
rows = 5 

for i in range(1, rows +1):
    for j in range(1,i+1):
        print( i,end="")
        print(j)

11
21
22
31
32
33
41
42
43
44
51
52
53
54
55

In [11]:
rows = 5 

for i in range(1,6):
    list1=[1,2,3,4,5]
for j in range(1,i+1):
        print( i,end="")
        print(j)

51
52
53
54
55

In [21]:
rows = 5 

for i in range(1,4):
    for j in range(1,i+1):
        print( i,end="")
        print(j)

11
21
22
31
32
33

In [42]:
rows = 5 

for i in range(1, rows +1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [26]:
rows = 5
for i in range(1, rows +1):
    for j in range(1,i+1):
            print(j,end="")
            print()

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [19]:
rows = 5
for i in range (1,rows +1):
        for j in range(1,i+1):
            print(j)
        print()

1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

In [21]:
rows = 5
for i in range (1,rows +1):
        for j in range(0,i+1):
            print(i)
        print()

1
1

2
2
2

3
3
3
3

4
4
4
4
4

5
5
5
5
5
5

In [49]:
rows = 5
for i in range (3,7):
    for j in range(2,i+1):
        print(j,end="")
    print()

23
234
2345
23456

In [29]:
rows = 5
for i in range (1,rows +1):
        for j in range(0,i+1):
            print(i)
        print()

1
1

2
2
2

3
3
3
3

4
4
4
4
4

5
5
5
5
5
5

In [2]:
rows = 5
for i in range (5,10):
    for j in range(2,i+1):
        print(j,end="")
    print()

2345
23456
234567
2345678
23456789

In [54]:
rows = 5
for i in range (4,10):
    for j in range(1,i+1):
        print(j,end="")
    print()

1234
12345
123456
1234567
12345678
123456789

In [63]:
rows = 5
for i in range (2,7):
    for j in range(0,i+1):
        print("ab"*j,end="")
    print()

ababab
abababababab
abababababababababab
ababababababababababababababab
ababababababababababababababababababababab

In [62]:
rows = 5
for i in range (2,7):
    for j in range(0,i+1):
        print(j,end="")
    print()

012
0123
01234
012345
0123456

In [32]:
for i in range (1,4):
    for j in range(i):
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

In [7]:
x,y,z= 10,20,30
print("value of x", x, "value of y",y," value of z",z)
print(f"value of x {x} value of y {y} value of z {z}" )

value of x 10 value of y 20  value of z 30
value of x 10 value of y 20 value of z 30

## While loop -

a while loop repeats a block of code as long as a condition is true.

In [ ]:
while condition :

i = 6
while i<=5:
    print(i)

In [2]:
i = 1
while i<=5:
    print(i)
    i = i+1

1
2
3
4
5

In [5]:
i = 1
while i<=5:
    print(i)
    i = i+1
    if ( i == 3):
        print("get up it is time to study")

1
2
get up it is time to study
3
4
5

## condition of stoping while loop

In [4]:
i = 1
while i<=10:
    print(i)
    i = i+3   # stops 
    print("get up it is time to study")

1
get up it is time to study
4
get up it is time to study
7
get up it is time to study
10
get up it is time to study

In [6]:
i = 1
while i <=5:
    print(i) 
    i = i+1
    print("get up it is time to study")

1
get up it is time to study
2
get up it is time to study
3
get up it is time to study
4
get up it is time to study
5
get up it is time to study

In [5]:
i = 1
while i<=5:
    print(i) 
    i = i+2
    print("get up it is time to study")

1
get up it is time to study
3
get up it is time to study
5
get up it is time to study

### Summery : crux of making patterns -

concept role
* inner loop controls character per rows( vertical dimension)
* outer loop controls character per row( horizontal dimension)
* print(.... end = "") keeps printing in the same line
* print() moves to the next line after a row is done
* logic in inner decides what to print *,number ,space etc.
* conditions (if) used for shapes like hollow boxes,diagonals etc.

pro tip to practice
* start with:
* for i in range (n): for j in range(m): print(" ques mark", end ="") print()

In [4]:
rows = 5
for i in range (1,rows+1):
    for j in range(1,i+1):
        print(j)

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [3]:
rows = 5
for i in range (1,rows+1):
    for j in range(0,i+2):
        print(j)

0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6

In [40]:
rows = 5
for i in range (1,rows+1):
    for j in range(1,i+2):
        print(j,end="")
    print()

12
123
1234
12345
123456

In [4]:
rows = 5
for i in range (1,rows+1):
    for j in range(1,i+1):
        print(j,end="") 
    print() # outer loop apna kam pura krta h

1
12
123
1234
12345

In [26]:
rows = 5 
for i in range (1,rows+1):
    for j in range(1,i+1):
        print(i,j)
    print()

1 1

2 1
2 2

3 1
3 2
3 3

4 1
4 2
4 3
4 4

5 1
5 2
5 3
5 4
5 5

In [16]:
rows = 5
for i in range (1,rows+1):
    
        print("a")

a
a
a
a
a

#### Pattern 2 : number pyramid

In [20]:
rows = 5
for i in range(1,rows+1):
    for j in range (1,i +1):
        print(j)

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [4]:
rows = 5
for i in range(1,rows+1):
    print(i)
    print()

1

2

3

4

5

In [39]:
rows = 5
for i in range(1,rows+1):  # (1,6)
    for j in range (1,i+2):   #(1,i ki range +2)
        print(j,end="")
    print()

12
123
1234
12345
123456

pattern 2: Print numbers in triangle form

In [1]:
rows = 5
i = 1
while i <= rows:
    j =1
    while j<=i:
        print(j, end=" ")
        j +=1
    print()
    i +=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
rows = 5
i = 1
while i <= rows:
    j =1
    while j<=i:
        print(j, end="")
        j +=1
    print()
    i +=1

### Python Functions

In [43]:
def multiply(n1,n2):
    n3 = n1*n2
    return(n3) 
for n in return:
    multiply(n)

SyntaxError: invalid syntax (1091652966.py, line 4)

In [2]:
def multiply(n1,n2):
    n3 = n1*n2
    return n3

In [4]:
multiply(20,5)

100

In [5]:
def add(n1,n2,n3):
    n4= n1+n2+n3
    return n4

In [7]:
add(25,45,90)

160

In [10]:
def add(n1,n2,n3):
    n4= n1+n2+n3
    return n4
add(23,39,40)

102

In [22]:
def avg(n1,n2,n3):
    n4= (n1,n2,n3)/3
    return n4

In [15]:
def avg():
    a = int(input("no."))
    b = int(input("no."))
    c = int(input("no."))
    average = (a+b+c)/3
    print(average)
avg()

no. 2
no. 3
no. 4

3.0

In [18]:
def avg():
    a = int(input("no."))
    b = int(input("no."))
    c = int(input("no."))
    average = (a+b+c)/3
    print(average)
avg()

no. 20
no. 10
no. 40

23.333333333333332

In [9]:
def fun():
    return("welcome to vijai")
fun()

'welcome to vijai'

In [2]:
def fun():
    print("welcome to vijai")
fun()

welcome to vijai

patterns 1 print a triangle of stars-

In [8]:
i =10
while(i<21):
    print(i)
    i+=1  # i = i + 1

10
11
12
13
14
15
16
17
18
19
20