## Filter :-

In [2]:

numbers = int(input("enter the no."))
Num = [ 85,12, 36, 7,49]
if numbers%2== 0 :
    print="even"
else:
    print("odd")

enter the no. 85

odd

In [14]:
Num = [ 85,12, 36, 7,49]
Num_even=[]
for i in Num:
    if i%2==0:
        Num_even.append(i)
    print(Num_even)

[]
[12]
[12, 36]
[12, 36]
[12, 36]

In [8]:
nums = [ 85,12, 36, 71,49]
def even_num(list):
    filt_list =[]
    for i in nums:
        if i%2== o:
            filt_list.apppend(i)
    return even_num
filt_list()

TypeError: 'list' object is not callable

In [5]:
nums = [ 85,12, 36, 71,49]
def even_num(element):
    if element%2==0:
        return True
        
filt_list= list(filter(even_num,nums) )
print(filt_list)

[12, 36]

In [10]:
city_names = [ "someshwar", "Kausani", "Agra", "Almora","Sitapur"]
city_names_A =[]
for i in city_names:
    if i.startswith("A"):
        city_names_A.append(i)
print(city_names_A)

['Agra', 'Almora']

In [8]:
city_names = [ "someshwar", "Kausani", "Agra", "Almora","Sitapur"]
city_names_A = []
for i in city_names :
    if  i [0] =="A":
        city_names_A.append(i)
print(city_names_A)

['Agra', 'Almora']

In [25]:
city_names = [ "Haridwar", "Kausani", "Haldwani", "Almora","Humpy"]
def selecting_city_H(city_names):
    city_names_A=[]
    for i in city_names:
        if i.startswith("H"):
            city_names_A.append(i)
    return city_names_H

In [26]:
selecting_city_H(city_names[1])

NameError: name 'city_names_H' is not defined

In [10]:
city_names = [ "Haridwar", "Kausani","Haldwani", "Almora","Humpy"]
def selecting_cities(city):
    return city.startswith("H")
selecting_cities("Haldwani")

True

In [11]:
selecting_cities("Agra")

False

In [1]:
#filter function will pass each element of the list city_names one-by-one to the function "selecting_cities()"
#for the elements of the list city_names for which "selecting_cities()" return True are append to the new list.

In [7]:
city_names = [ "Haridwar", "Kausani","Haldwani", "Almora","Humpy"]
filtered_cities = list(filter(selecting_cities,city_names))
print(filtered_cities)

['Haridwar', 'Haldwani', 'Humpy']

In [9]:
city_names = [ "Haridwar", "Kausani","Haldwani", "Almora","Humpy"]
def selecting_cities(city):
    return True
filtered_cities = list(filter(selecting_cities,city_names))
print(filtered_cities)

['Haridwar', 'Kausani', 'Haldwani', 'Almora', 'Humpy']

In [12]:
    
city_names = [ "Haridwar", "Kausani","Haldwani", "Almora","Humpy"]
def selecting_cities(city):
    return False
filtered_cities = list(filter(selecting_cities,city_names))
print(filtered_cities)

[]

In [15]:
city_names =["delhi" , "dubai", "dili", "london"]
def selecting_cities(city):
        return city.startswith("d") or city.endswith("i")
selecting_cities("delhi")

True

In [16]:
city_names =["delhi" , "dubai", "dili", "london"]
def selecting_cities(city):
        return city.startswith("d") or city.endswith("i")
filtered_cities = list(filter(selecting_cities,city_names))
print(filtered_cities)

['delhi', 'dubai', 'dili']

In [39]:
nums= [ 230 , 20, "haldwani" ,"damanjori" , 590 , "Agra"]
def selecting_nums(i):
    filterd_nums =[]
    for i in nums:
        if i== int or i <=100:
            filterd_nums.append(i)
        elif i ==" "  len(i)>8:
            filterd_nums.append(i)
        
    return filterd_nums

In [41]:
selecting_nums(230)

TypeError: object of type 'int' has no len()

In [42]:
def selecting_nums(element):
    if type(element) is int and element>100:
        return True
    elif type(element) is  str and len(element)>8:
        return True
    else:
        return False
nums= [ 230 , 20, "haldwani" ,"damanjori" , 590 , "Agra"]
filtered_nums= list(filter(selecting_nums,nums))
print(filtered_nums)

[230, 'damanjori', 590]

In [1]:
def selecting_nums(element):
    if type(element) == "int" and element>100:
        return True
    elif type(element) =="str" and len(element)>8:
        return True
    else:
        return False
nums= [ 230 , 20, "haldwani" ,"damanjori" , 590 , "Agra"]
filtered_nums= list(filter(selecting_nums,nums))
print(filtered_nums)

[]

In [55]:
def selecting_nums(element):
    if type(element)  == int and element>=100:
        return True
nums= [ 230 , 20, "haldwani" ,"damanjori" , 100,590 , "Agra"]
filtered_nums= list(filter(selecting_nums,nums))
print(filtered_nums)

[230, 100, 590]

In [56]:
def selecting_num(element):
    if element%3 ==0:
        return True
    else:
        return False
num = [10,5,21,28,90] 
filt_num = list(filter(selecting_num,num))
print(filt_num)

[21, 90]

In [12]:
def cube(a):
    return a*a*a
print(cube(3))

27

In [16]:
l = [2,4,5,9]
new =[]
for item in l:
    new.append(cube(item))
print(new)

[8, 64, 125, 729]

In [17]:
def filters(a):
    return a>4
new1 = list(filter(filters,l))
print(new1)

[5, 9]

## Map, Reduce, Accumalate, lambda :

* built-in-function

In [9]:
a = ["1","2","3"]
b = list(map(float,a))
print(b)

[1.0, 2.0, 3.0]

In [15]:
l = [2,3,5,4]
newl = list(map(cube,l))
print(newl)

[8, 27, 125, 64]

In [23]:
l = [2,3,5,4]
newl = list(map(lambda a: a+2,l))
print(newl)

[4, 5, 7, 6]

In [6]:
l = [2,3,5,4]
newl = list(filter(lambda a: a>3,l))
print(newl)

[5, 4]

In [12]:
from functools import reduce
def add(x,y):
    return x-y
    
l = [2,3,5,4]
res = reduce(add,l)
print(res)

-10

In [23]:
l = [2,3,5,4]
newl = list(map(lambda a: a+2,l))
print(newl)

[4, 5, 7, 6]

In [7]:
l = [2,3,5,4]
newl = list(map(lambda a:a**2,l))
print(newl)

[4, 9, 25, 16]

In [15]:
from functools import reduce
l = [2,3,5,4]
newl = list(reduce(lambda x,y:x+y,l))
print(newl)

TypeError: 'int' object is not iterable