 # Python variables-

* In Python , variables are used to store data, that can be referenced and manipulated during solving the problem.
* A variable is assigned a value. In Python, it is not necessary to declare the data type  during assignment of 
variables act as a place holder for a data.

In [1]:
name = "Swarnika"
print(name)

Swarnika

In [3]:
name = "sona"
print("name")

name

In [6]:
print("x")

x

In [5]:
x = 50
print(x)

50

## Rules for naming Variable -

* variables name can only contain letters , digits, underscore.
*   a variable name can not start with a digits.
*  variables names are case sensitive.
*  avoid using python keywords.

In [7]:
score = 20
print(score)

20

In [8]:
score_1 = 20
print(score_1)

20

In [11]:
1score = 20
print(1score)

SyntaxError: invalid decimal literal (1449458166.py, line 1)

In [10]:
_score = 20
print(_score)

20

In [12]:
total-students = 20
print(total-students)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3146110508.py, line 1)

In [13]:
total_students = 20
print(total_students)

20

In [21]:
True = 20
print(True)

SyntaxError: cannot assign to True (1888372918.py, line 1)

## Dynamic typing-

In [ ]:
python variables are dynamicly typed.

In [1]:
x = "sangeeta"
x =20
print(x)

20

## multiple assignment-

* python allows multiple variables in a single line.

In [26]:
a , b , c = 10,10,10
print(a)
print(b)
print(c)
print(a, b, c)

10
10
10
10 10 10

## Assigning different values-

* python allows different values to multiple variables.

In [28]:
x = 25
y = 29
z = "mamta"
print(x, y, z)

25 29 mamta

In [31]:
x,y,Aqsa = 10,20,"AQSA"
print(x,y,Aqsa)

10 20 AQSA

In [3]:
p, q, mamta = 20, 26
print(p,q)

ValueError: not enough values to unpack (expected 3, got 2)

In [34]:
a, b , c = 5, 30, 10
print(a, b , c)

5 30 10

In [40]:
a ,b,c = None , 30.2, 20
print(a,b,c)

None 30.2 20

In [1]:
a = 20 
b =2*a
c = a+b
print(c)

60