# Types of operators

### 1. Arithmetic operators-

 There are 5 arithmetic operators.

+, - , * , / , % ,//

In [1]:
class_1=15 
class_2 = 30
total_students= class_1+class_2
print(total_students)

45

In [8]:
total = 30
absent = 12
present= total - absent
print(present)

18

In [80]:
scores_1 = 20
score_2 = 50
total = scores_1*score_2
print(total)

1000

In [2]:
scores_1 = 100
score_2 = 50
total = scores_1 //score_2  # // gives you int in result
print(total)

2

In [3]:
scores_1 = 100
score_2 = 50
total = scores_1 /score_2       # / gives you float in result
print(total)

2.0

In [15]:
scores_1 = 6
score_2 = 2
total = scores_1 //score_2
print(total)

3

In [14]:
scores_1 = 6
score_2 = 2
total = scores_1 /score_2
print(total)

3.0

In [16]:
scores_1 = 6.0
score_2 = 2
total = scores_1 /score_2
print(total)

3.0

In [18]:
scores_1 = 6.0
score_2 = 2
total = scores_1 //score_2
print(total)

3.0

In [7]:
score_1 = 220
score2 = 200
total = score_1 + score2
print(total)

420

In [8]:
print(score_1%score2)

20

In [1]:
print(6%2) # %= Reminder

0

In [21]:
print(5%2)

1

In [23]:
print(23%5)

3

In [24]:
print(120%25)

20

### 2. Relational/ comparision operators -

[ < ,> , == ,<= , >=  , != ]

In [25]:
a = 20
b = 30
print(a< b)

True

In [26]:
p = 10 
q = 25
print(p> q)

False

In [30]:
A = 200
B = 200
print(A==B)

True

In [31]:
c = 25
d = 30
print(c<=d)

True

In [34]:
p = 10
q = 24
print(p>=q)

False

In [32]:
a = 20
b = 100
print(a!= b)

True

In [7]:
a = 20
b = 10
print(a!= b)

True

In [3]:
a = 29
b = 20
print( a <=b )

False

In [8]:
x = 25 
if x == 25:
    print("nice")    

else : 
     print("not nice")

nice

In [24]:
x = 25 
if x <= 30:
    print("good")
else :
    print("not good")

good

In [25]:
x = 100
if x >= 200:
    print("good")
else: 
    print("not good")

not good

### 3. Python logical operators-

* Python logical operators are used to combine conditional statement.
* there are 3 logical operators named as - and, or, not .

In [26]:
a = True
b = True
a and b

True

In [27]:
a = True 
b = False
a and b

False

In [30]:
True and True

True

In [31]:
True and False

False

In [33]:
False and False

False

In [36]:
True

True

In [37]:
a = 20 
not a

False

In [39]:
b = 10
not b

False

In [40]:
a = False
not a

True

In [41]:
a = None
not a

True

### 4. assignment operators (=)
 * *= , += , -=

In [62]:
 a = 5
a*= 6
print(a)

30

In [63]:
a = 10
a+= 2
print(a)

12

In [64]:
b = 20
b-= 10
print(b)

10

In [65]:
 p = 20 
 p *= 5
print(p)

100

In [88]:
a = 2
a*= 2
print(a)

4

In [3]:
a = 100
b = 10
b += 20
print(a + b)

130

In [5]:
a = 100
b = 10
print(a + b)

110

### 5. Identity operators in python

In python  is and not are the identity operators , both are used to check , if 2  vaiables are used  in same memory part.
if 2 variables are eqUAL it doesnot mean they are identical.

In [42]:
a = 50 
print(id(a))

140716887882184

In [43]:
 b = 50 
 print( id (b))

140716887882184

In [9]:
x = 90
y = 90
print(id(a))
print(id(b))

x is y

140728880444936
140728880444616

True

In [61]:
a = 102500
b =  281930.20
print(id(a))
print(id( b))

2491653920976
2491653917072

In [57]:
a = 10
b = 20
print(id(a))
print(id (b))
a  is not b

140716887880904
140716887881224

True

In [3]:
choice1 = input( "1:")  
choice2 = input("2:")     
choice3 = input("3:")
choice4 = input("4:")
choice5 = input("5:")
ing = input("user choice")
if ing == lemon + tea leave + water:
     print("Lemon tea")
elif ing== tea leave+ water + milk + ginger:
     print("masala tea") 
else : 
    print("green tea")

1: lemon
2: tea leave
3: water
4: milk
5: ginger
user choice lemon + tea leave+ water

green tea