###  Characteristics of Set-

A set is a built -in data structure in python with the following 3 characteristics
* Unordred: the items in the set are unordered ,unlike lists,i.e , it will not maintain the order in which the items are inserted the items will be in a different order each time when we access the set object, there will not be any index value assigned to each item in the set.
* unchangeable : Set items must be immutable .we cannot change the set items but set as a whole is mutable.
* Unique: there cannot be 2 items with the same value in the set.
* iterable.

In [5]:
A = { 20,19,20,94,60,47}
print(type(A))

<class 'set'>

In [6]:
B = {20,19,20,(23,50),47}
print(type(B))

<class 'set'>

In [3]:
B = {20,19,[23,20],20,47}
print(type(B))

TypeError: unhashable type: 'list'

In [5]:
B = set([23,50])
print(type(B))

<class 'set'>

In [4]:
C = set([1,2,3,4])
print(C)
print(type(C))

{1, 2, 3, 4}
<class 'set'>

In [6]:
Set1 = {12,34,12,67,40,12}
print(Set1)

{40, 34, 67, 12}

In [10]:
list1 = [2,34,5,3,2,]
A = set(list1)
print(A)

{2, 3, 34, 5}

In [11]:
B = list(A)
print(B)

[2, 3, 34, 5]

In [13]:
list2 = [23,45,23,90,23]
A = set(list2)
print(A)
b = list(A)
print(b)

{90, 45, 23}
[90, 45, 23]

In [4]:
set2 = set([203,2,34,20])
print(type(set2))

<class 'set'>

#### Creating a Set

There are following 2 ways to create a set in python 
* Using  curly brackets: the easiest and straightforward way of creating a Set by just enclosing of data items inside the { }. 
the individual value are comma seperated.
* using Set() constructor : the set object is of type class "set". So we can create a set by calling CONSTRUCTOR of class 'SET'.

In [15]:
A = {20,19,20,94,60,47} 
print(type(A))

<class 'set'>

In [20]:
A1 = {20,19,20,(20,20),94,60,47} 
print(type(A1))

<class 'set'>

In [16]:
B = set([23,34,"sona",20])
print(type(B))

<class 'set'>

In [18]:
C = set((23,40,50))
print(type(C))

<class 'set'>

In [4]:
C = {(23,40,50),23}
print(type(C))

<class 'set'>

In [19]:
D = set("Sunita")
print(type(D))

<class 'set'>

In [6]:
set1 =set("Apppple")
print(set1)

{'p', 'e', 'l', 'A'}

In [22]:
set2 = set([23,90,40,90])
print(set2)

{40, 90, 23}

In [7]:
set1 = {"sona"}
print(type(set1))

<class 'set'>

In [5]:
sample = {"Roopali", 34, 56 ,[ 20,13]}
print(sample)  # list is unhasable ,i.e. it is mutable. so it is cannot be the item of the set.

TypeError: unhashable type: 'list'

In [9]:
sample = set("Roopali", 34, 56 , [ 20,13])
print(sample)

TypeError: set expected at most 1 argument, got 4

In [67]:
A = set(list1)
print(A)

{34, 200, 12, 50, 90}

In [68]:
B = list(A)
print(B)

[34, 200, 12, 50, 90]

In [29]:
Set1 = set(3,6) # only 1 argument

TypeError: set expected at most 1 argument, got 2

In [10]:
set2 = set([3]) 
print(type(set2))
# must have iterable datatypes. ( it.datatpes =L,S ,D, string, tuple)

<class 'set'>

In [43]:
set3 = set([])
print(set3)

set()

In [44]:
set4 = set({})
print(set4)

set()

In [8]:
set4 = set()
print(set4)

set()

In [1]:
B = {} # if there is no elements in a{} then it is a dict. datatype.
print(type(B))

<class 'dict'>

In [53]:
set5 = set((4)) # tuple without , is int.
print(type(set5))

TypeError: 'int' object is not iterable

In [57]:
set5 = set((4,)) 
print(type(set5))

<class 'set'>

In [63]:
set6 = set(())
print(type(set6))    # empty set

<class 'set'>

In [64]:
set6 = set([])
print(type(set6))    # empty set

<class 'set'>

In [70]:
list1 = [ 23, 34, 29, 23, "Banana"]
A = set(list1)
print(A)

{'Banana', 34, 29, 23}

In [73]:
B = set("Banana")
print(B)

{'a', 'B', 'n'}

In [78]:
list2 = ["banana"]
C = set(list2)
print(C)

{'banana'}

In [10]:
set2 = {23,90,40,90}
print(set2)

{40, 90, 23}

In [15]:
a = list(set2)
print(a)

[40, 90, 23]

In [16]:
print(a[1])

90

In [17]:
my_list =[ 23,24,3,3,90,3]
b = set(my_list)
print(b)

{24, 90, 3, 23}

In [39]:
b = {23,24,3,3,90,3}
A = {23,23,40,23,50}

In [40]:
for i in A:
    print (i)

40
50
23

In [41]:
for i in b:
    print(i)
    print(type(i))

24
<class 'int'>
90
<class 'int'>
3
<class 'int'>
23
<class 'int'>

In [45]:
for i in A:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>

In [47]:
my = "aqsa"
for i in my:
    print(i)

a
q
s
a

### Create a set from a list -

In [11]:
no_1= [23,14,20,40,29,23]
a = set(no_1)
print(a)

{40, 14, 20, 23, 29}

In [12]:
no_1= [23,14,20,40,29,23]
print(no_1)

[23, 14, 20, 40, 29, 23]

In [63]:
no_1= {23,14,20,40,29,23}
no_2 = {23,43,45,23,43}
AB = (no_1+no_2)
print(AB)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [68]:
no_1= {23,20,40,29,23}
no_2 = {23,43,45,23,27}
c = (no_1-no_2)
print(c)

{40, 20, 29}

In [67]:
no_1= {23,20,40,29,23}
no_2 = {23,43,45,23,43}
c = (no_2-no_1)
print(c)

{43, 45}

In [7]:
no_1= {23,14,20,40,29,23}
no_2 = {23,43,45,23,43}
no_1.add("a") 
print(no_1)

{20, 'a', 23, 40, 29, 14}

In [77]:
abc = (no_1 and no_2)
print(abc)

{43, 45, 23}

In [79]:
no_1= {23,14,20,40,29,23}
A1 = list(no_1)
print(A1)
A1.append(200)
print(A1)

[20, 23, 40, 29, 14]
[20, 23, 40, 29, 14, 200]

In [80]:
no_1= {23,14,20,40,29,23}
no_2 = {23,43,45,23,43}
a = list(no_1)
b = list(no_2)
c = a + b
print(c)

[20, 23, 40, 29, 14, 43, 45, 23]

In [87]:
set1 = {23,40,99}
tuple1 = (23,45,20)
A = tuple(set1)
c = (A + tuple1)
print(c)

(40, 99, 23, 23, 45, 20)

In [89]:
Ug = set(c)
print(Ug)

{99, 40, 45, 20, 23}

In [92]:
list1 = list(set1)
list2 = list(tuple1)
ab = list1 + list2
print(ab)

[40, 99, 23, 23, 45, 20]

#### Concatenation -

In [54]:
# set concatenation 
no_1= {23,14,20,40,29,23}
no_2 = {23,43,45,23,43}
a = list(no_1)
b = list(no_2)
c = a + b
print(c)

[20, 23, 40, 29, 14, 43, 45, 23]

In [55]:
sample_set = set(c)
print(sample_set)

{40, 43, 45, 14, 20, 23, 29}

### Empty set-

In [99]:
set1 = set()
print(type(set1))

<class 'set'>

In [100]:
set2 ={}
print(type(set2))

<class 'dict'>

In [103]:
set3 = ()
print(type(set3))

<class 'tuple'>

In [114]:
tuple_1 = ()
print(type(tuple_1))

<class 'tuple'>

### Accessing items of a set: set being unordered so no indexing-

In [104]:
book_set = {"Harry potter", "Angles and demons", "Atlas shrugged"}
for i in book_set:
    print(i)

Atlas shrugged
Harry potter
Angles and demons

In [112]:
a = list(book_set)
for i in a:
    print(i)

Atlas shrugged
Harry potter
Angles and demons

In [111]:
a = list(book_set)
print(a[0:])
print(a[0])
print(a[1])
print(a[0:3])

['Atlas shrugged', 'Harry potter', 'Angles and demons']
Atlas shrugged
Harry potter
['Atlas shrugged', 'Harry potter', 'Angles and demons']

### checking if an item exists in a set-

In [8]:
set1 = { 23,49, "sona", "aqsa", "aditya",39.3}
23 in set1

True

In [2]:
set2 = { "sona", "aqsa", "harry potter", "aditya"}
"sona" in set2

True

In [3]:
"rohan" in set2

False

In [6]:
print(len(set2))

4

In [6]:
if "harry potter" in set2:
    print( "yes")
else:
    print("no")

yes

### Removing items from a set-

* Remove() = to remove a single item from a set . this method will take 1 parameter , which is the item to be removed from the set. throws a keyerror if an item not present in original set.

* Discard() = to remove a single item that may or may not be present in the set . this method also takes 1 parameter, which is the items is present in the set will remove it. it will not throw any error if it is not present.

* pop() = to remove any random item from a set.

* clear() = to remove all items . the output will be an empty set.

* del set = delete the item.

In [11]:
set1 = {23, 49, "sona", "aqsa", "aditya",39.3}
set1.remove(23)
print(set1)

{49, 'aditya', 'aqsa', 39.3, 'sona'}

In [12]:
set1.remove(300)
print(set1)

KeyError: 300

In [31]:
set2 = {23, 49, "sona", "aqsa", 40,"aditya",39.3}
set2.discard(49)
print(set2)

{'aditya', 23, 'aqsa', 39.3, 'sona', 40}

In [21]:
set2.discard(900)
print(set2)

{'aditya', 23, 'aqsa', 39.3, 'sona', 40}

In [26]:
set1 = {23, 49, "sona", "aqsa", "aditya",39.3}
print(id(set1))
set1.remove(23)
print(set1)
print(id(set1))

3066890086976
{49, 'aditya', 'aqsa', 39.3, 'sona'}
3066890086976

In [33]:
set2 = {23, 49, "sona", "aqsa", 40,"aditya",39.3}
set2.pop()
print(set2)

{'aditya', 23, 'aqsa', 39.3, 'sona', 40}

In [24]:
set2.pop()

'aditya'

In [29]:
set2.clear()
print(set2)

set()

In [35]:
del set2
print(set2)

NameError: name 'set2' is not defined

In [13]:
set2 = [23, 49, "sona", "aqsa", 40,"aditya",39.3]
del set2
print(set2)

NameError: name 'set2' is not defined

The following table will summerize  the set

1. Union  
2. intersection

In [42]:
set1={ 2,3,5,30,90}
set2 = {3,6,93,4,10}
set1.union(set2)

{2, 3, 4, 5, 6, 10, 30, 90, 93}

In [43]:
set1.intersection(set2)

{3}

In [44]:
set2.intersection(set2)

{3, 4, 6, 10, 93}

 the operation difference written the unique items of the1st set which are not in 2nd set.

In [7]:
set1={ 2,3,5,30,90}
set2 = {3,6,93,5,10}
set1.difference(set2)

{2, 30, 90}

In [10]:
print(set1.difference(set2))

{2, 90, 30}

In [8]:
set2.difference(set1)

{6, 10, 93}

 Symmetric difference-
written the elements of both set .

In [8]:
set1 = {2,3,30,90}
set2 = {3,6,93,10} 
set1.symmetricdifference(set2)
print(set1)

AttributeError: 'set' object has no attribute 'symmetricdifference'

In [9]:
set2.symmetric_difference(set1)
print(set2)

{10, 3, 93, 6}

In [10]:
set1.symmetric_difference(set2)
print(set1)

{2, 3, 90, 30}

In [11]:
set1 = {2,3,30,90}
set2 = {3,6,93,10}
print(set1.symmetric_difference(set2))

{2, 6, 10, 90, 93, 30}